/* Demo CSS - You do not need this css in your own slider */

body {
	font-family: "Open Sans", helvetica, arial;
}
pre {
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
h2 {
	font-size: 48px;
}
pre + h2 {
	margin-top: 80px;
}
#container {
	max-width:727px;
	margin:0 auto;
	margin-top:2px;

}
#banner-fade, #banner-slide {
	margin-bottom:10px;
	
}
ul.bjqs-controls.v-centered li a {
	display:block;
	padding:5px;
	background:#fff;
	color:#000;
	text-decoration: none;
}
ul.bjqs-controls.v-centered li a:hover {
	background:#fff;
	color:#000;
}
ol.bjqs-markers li a {
	padding:0px 2px;
	background:url(../images/grain_2.jpg) repeat-x left top;
	color:#e3e3e3;
	margin:0px;
	text-decoration: none;
}
ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover {
	background:url(../images/grain_2.jpg) repeat-x left top;
	color:#e3e3e3;
}
p.bjqs-caption {
	background: rgba(255, 255, 255, 0.5);
}



