.graphite .accordion {
	font:  11px Verdana, Geneva, sans-serif;
	color: #9C3232;
}
.graphite .accordion, .graphite .accordion li {
	margin: 0;
	padding: 0;
	border: none;
}
.graphite .accordion a {
	padding: 10px 10px 7px 30px;
	text-decoration:none;
	display: block;
	font:  11px Verdana, Geneva, sans-serif;
	color: White;
	border-top:2px solid #eb868a;
	border-bottom:none;
	position: relative;
}
.graphite .accordion ul a {
	background-image:url('../../images/midimg.jpg');
	background-repeat:repeat-y;
	top: 0px;
	left: 0px;
}
.graphite .accordion a.dcjq-parent, .graphite .accordion a.dcjq-parent:hover {
}
.graphite .accordion a.dcjq-parent.active {
}
.graphite .accordion a .dcjq-icon {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background:url(../images/plus_red.png) no-repeat 0 center;
}
.graphite .accordion a.dcjq-parent.active .dcjq-icon {
	background: url(../images/minus_red.png) no-repeat 0 center;
}
.graphite .accordion a:hover {
	background-image:url(../images/homehover1.jpg);
	background-repeat:no-repeat;
	width:233px;
	margin:auto;
	color:#d71921;
}
.graphite .accordion a.home:link {
	background-image:url(../images/homelink.jpg);
	background-repeat:no-repeat;
	color:White;
	border:none;
	margin:0px;
	width:233px;
}
.graphite .accordion a.home:hover {
	background-image:url(../images/homehover.jpg);
	background-repeat:no-repeat;
	color:#d71921;
	border:none;
	margin:0px;
	width:233px;
}
.graphite .accordion a:active {
}
.midimg {
	background-image:url(../images/midimg.jpg);
	background-repeat:repeat-y;
}
