/* CSS Document */

@font-face {
 font-family: 'RobotoLight';
 src: url('Roboto-Light-webfont.eot');
 src: url('Roboto-Light-webfontd41d.eot?#iefix') format('embedded-opentype'), url('Roboto-Light-webfont.html') format('woff'), url('Roboto-Light-webfont.ttf') format('truetype'), url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'RobotoLightItalic';
 src: url('Roboto-LightItalic-webfont.eot');
 src: url('Roboto-LightItalic-webfontd41d.eot?#iefix') format('embedded-opentype'), url('Roboto-LightItalic-webfont.html') format('woff'), url('Roboto-LightItalic-webfont.ttf') format('truetype'), url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'RobotoThin';
 src: url('Roboto-Thin-webfont.eot');
 src: url('Roboto-Thin-webfontd41d.eot?#iefix') format('embedded-opentype'), url('Roboto-Thin-webfont.html') format('woff'), url('Roboto-Thin-webfont.ttf') format('truetype'), url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'RobotoMedium';
 src: url('Roboto-Medium-webfont.eot');
 src: url('Roboto-Medium-webfontd41d.eot?#iefix') format('embedded-opentype'), url('Roboto-Medium-webfont.html') format('woff'), url('Roboto-Medium-webfont.ttf') format('truetype'), url('Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'RobotoMediumItalic';
 src: url('Roboto-MediumItalic-webfont.eot');
 src: url('Roboto-MediumItalic-webfontd41d.eot?#iefix') format('embedded-opentype'), url('Roboto-MediumItalic-webfont.woff') format('woff'), url('Roboto-MediumItalic-webfont.ttf') format('truetype'), url('Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'RobotoBold';
 src: url('Roboto-Bold-webfont.eot');
 src: url('Roboto-Bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('Roboto-Bold-webfont.html') format('woff'), url('Roboto-Bold-webfont.ttf') format('truetype'), url('Roboto-Bold-webfont.svg#RobotoBold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'BreeSerifRegular';
 src: url('BreeSerif-Regular-webfont.eot');
 src: url('BreeSerif-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('BreeSerif-Regular-webfont.html') format('woff'), url('BreeSerif-Regular-webfont.ttf') format('truetype'), url('BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	font-family: 'RobotoLight', Arial, sans-serif;
	font-size:13px;
	margin:0px;
	background-color:#f5f5f5;
	color:#363636;
	text-decoration:none;
	text-align:justify;
	line-height:normal;
	background:#EFEFEF url(../images/grain.jpg) repeat;
}
p {
	line-height:22px;
}
em {
	margin-right:2px;
}
img {
	border:none;
}
a:focus {
	outline:none;
}
a {
	color:#292663;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
p a {
	color:#292663;
	text-decoration:underline;
}
p a:hover {
	text-decoration:none;
}
h1 {
	font-family: 'BreeSerifRegular', Arial, sans-serif;
	background:url(../images/dasher.jpg) repeat-x bottom;
	font-size:22px;
	color:#363636;
	text-decoration:none;
	font-weight:normal;
	margin:0px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	text-transform:uppercase;
	line-height:34px;
}
h1 a {
	color:#949494;
	text-decoration:none;
}
h1 a:hover {
	color:#363636;
	text-decoration:none;
}
h1 span {
	color:#949494;
}
h2 {
	font-family: 'BreeSerifRegular', Arial, sans-serif;
	font-size:24px;
	color:#FF6565;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	padding-bottom:5px;
	line-height:26px;
}
h3 {
	font-family: 'BreeSerifRegular', Arial, sans-serif;
	font-size:14px;
	color:#242424;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	padding:5px 0px;
	line-height:18px;
}
#top-rail {
	width:100%;
	float:left;
	background:#F0F0F0 url(../images/top-rail.jpg) repeat-x bottom;
	position:fixed;
	top:0px;
	z-index:999;
}
#top-bar {
	position:absolute;
	right:0px;
	top:0px;
}
#top-nav {
	float:right;
}
#top-nav a {
	font-size:11px;
	color:#242424;
	text-shadow:1px 1px 1px #FFF;
	padding:0px 5px;
	border-right:1px solid #999;
}
#top-nav a:hover {
	color:#ED1C24;
}
#main-nav {
	position:absolute;
	right:0px;
	bottom:24px;
}
#logo a {
	display:block;
	width:194px;
	height:59px;
	float:left;
	background: url(../images/gateway-rail.png) no-repeat;
	margin-left:0px;
}
#welcomenote {
	width:350px;
	float:right;
	text-align:right;
	font-size:11px;
}
#welcometxt {
	width:225px;
	float:left;
}
.mrtxt {
	color:#2B2863;
	font-weight:bold;
}
#logout {
	width:125px;
	float:left;
}
#logout a {
	color:#2B2863;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
#logout a:hover {
	color:#ff0000;
	text-decoration:underline;
}
.platform {
	width:100%;
	float:left;
}
.engine {
	width:966px;
	margin:0px auto;
	padding:18px 0px 24px 0px;
	position:relative;
	height:61px;
}
.train {
	width:974px;
	margin:0px auto;
	padding:0px 0px 7px 0px;
	position:relative;
	overflow:visible;
}
.leftoh {
	width:233px;
	float:left;
	margin:10px 10px 0px 0px;
}
.rightoh {
	width:725px;
	float:left;
	margin-top:10px;
}
.services {
	float:left;
	text-align:center;
	margin-right:20px;
	font-size:12px;
}
.services img {
	margin-bottom:8px;
}
.services p a {
	font-weight:normal;
}
.services p {
	text-align:center;
	margin:0px;
}
#fbox {
	margin:0px auto;
	width:971px;
	overflow:hidden;
	position:relative;
	padding-top:5px;
}
#footer {
	float:left;
	padding:5px 0px;
	width:996px;
	background-color:#d71921;
	text-align:center;
	color:#fff;
	line-height:12px;
	font-size:10px;
}
#footer a {
	color:#363636;
	padding:0px 5px;/*border-right:1px solid #999;*//*text-shadow:1px 1px 1px #FFF;*/
}
#footer a:hover {
	color:#ffffff;
}
#footer span {
	font-family: 'RobotoMedium';
	padding-right:4px;
}
.clear {
	clear:both;
}
#box-container {
	width:274px;
	position:absolute;
	top:23px;
	right:64px;
	z-index:998;
}
.hbox1 {
	width:220px;
	float:right;
	border-top:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
	border-bottom:1px solid #ADADAD;
	padding:1px 1px 0px 1px;
	background-color:#E5E5E5;
}
.hbox11 {
	width:260px;
	float:right;
	border-top:1px solid #ffffff;
	border-right:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
	border-bottom:1px solid #ADADAD;
	padding:1px 1px 0px 1px;
	background-color:#E5E5E5;
}
.hbox111 {
	width:220px;
	float:right;
	border-top:1px solid #ffffff;
	border-right:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
	padding:1px 1px 0px 1px;
	background-color:#E5E5E5;
}
.hbox2 {
	width:219px;
	float:left;
	padding:2px 20px;
	background:#D0D0D0 url(../images/tracktile.jpg) top repeat-x;
	font-size:12px;
}
.hbox21 {
	width:217px;
	float:left;
	padding:2px 20px;
	background:#D0D0D0 url(http://gatewayrail.in/images/tracktile.jpg) top repeat-x;
	font-size:12px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
}
.hbox3 {
	width:219px;
	float:left;
	padding:2px 20px;
	background:#D0D0D0 url(http://gatewayrail.in/images/tracktile.jpg) top repeat-x;
	font-size:12px;
}
.writo {
	background: url(http://gatewayrail.in/images/field.jpg) repeat-x top;
	padding:0px 4px;
	height:26px;
	line-height:26px;
	width:124px;
	border:1px solid #c3c3c3;
	border-bottom:none !important;
	float:left;
	margin-top:2px;
}
#subleft {
	width:220px;
	float:left;
	margin:0px 74px 20px 0px;
}
#redbox {
	width:220px;
	float:left;
	margin:0px 74px 20px 0px;
	border:1px solid #A00d12;
	padding:1px;
	background-color:#FE6036;
	border-radius:4px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	z-index:997;
}
.bogie {
	width:609px;
	float:left;
	overflow:auto;
}
.bogie h1 {
	color:#292663;
	font-size:33px;
	text-transform:none;
	margin-bottom:30px;
	text-align: left;
}
.bc {
	width:609px;
	float:left;
	color:#363636;
	line-height:16px;
	font-size:13px;
	margin-bottom:10px;
}
.bc a {
	float:left;
	color:#363636;
}
.bc a:hover {
	color:#EC1B23;
}
.bc img {
	float:left;
	margin:0px 6px;
}
.beered {
	font-size:18px;
	line-height:24px;
	color:#FF6565;
	text-align:justify;
	font-family: 'BreeSerifRegular';
}
.bod {
	width:600px;
	float:left;
	margin-bottom:14px;
}
.bod1 {
	width:204px;
	float:left;
	margin-right:34px;
}
.bod2 {
	width:361px;
	float:left;
	padding-top:148px;
}
.bod3 {
	width:600px;
	float:left;
	margin-bottom:56px;
}
.cage {
	width:609px;
	float:left;
	margin:30px 0px;
}
.cage1 {
	float:left;
	width:270px;
	margin-right:30px;
}
.cage2 {
	float:left;
	width:270px;
	margin:0px;
}
.custom {
	color:#292663;
	font-size:13px;
	text-align:center;
	text-transform:uppercase;
	font-family: 'RobotoMedium';
	line-height:18px;
}
.custom a {
	color:#292663;
	font-size:12px;
	text-decoration:underline;
}
.custom a:hover {
	text-decoration:none;
}
.bt {
	margin-bottom:30px;
	float:left;
}
.bt img {
	margin-right:20px;
	float:left;
}
.pusher {
	background:#e7e7e7 url(http://gatewayrail.in/images/btile.jpg) repeat-x top;
	padding:0px 8px;
	line-height:19px;
	border:1px solid #c4c4c4;
	display:block;
	color:#363636;
	text-transform:uppercase;
	float:left;
	font-size:12px;
	font-weight:normal;
	cursor:pointer;
}
.pusher:hover {
	background:#C7181E url(http://gatewayrail.in/images/btile2.jpg) repeat-x top;
	color:#FFF;
}
.tariffbox {
	background:url(http://gatewayrail.in/images/tariffbox.png) no-repeat;
	width:280px;
	margin-bottom:30px;
	padding:19px 22px;
	float:left;
}
.tfield {
	background:url(http://gatewayrail.in/images/tarifield.jpg) repeat-x top;
	padding:5px 10px;
	float:left;
	border:0px;
	font-family: 'RobotoLight', Arial, sans-serif;
	font-size:13px;
	color:#363636;
	margin:0px;
}
.awards {
	margin:0px 32px 32px 0px;
	float:left;
	width:inherit;
}
.awards img {
	margin-bottom:10px;
	margin-right:20px;
	float:left;
	padding:5px;
	background-color:#fff;
	border:1px solid #dcdcdc;
}
.awards p {
	text-align:left;
}
#topmarg p {
	margin-top:0px;
}
.faqz {
	background:#d1d1d1 url(http://gatewayrail.in/images/faqtile.jpg) repeat-x top;
	border:1px solid #f5f5f5;
	box-shadow:1px 1px 1px #d1d1d1;
}
.f250 {
	width:250px;
	border:1px solid #a3a3a3;
}
.f144 {
	width:144px;
	border:1px solid #a3a3a3;
}
.search_data {
	width:710px;
	float:left;
}
.redstrip {
	width:717px;
	float:left;
	background:#d71921;
	height:33px;
	font-size:12px;
	color:#FFF;
	font-weight:normal;
	font-weight:bold;
	line-height:33px;
	padding-left:10px;
}
.form_content_area {
	width:727px;
	float:left;
	margin-top:20px;
}
.contactInputOne {
	width:225px;
	height:28px;
	color:#202020;
	border:none;
	background:url(../images/inpu.png) top left no-repeat;
	font-size:13px;
	padding:0px 15px 0px 5px;
}

.contactInputSmall {
	width:100px;
	height:28px;
	color:#202020;
	border:none;
	
	font-size:13px;
	padding:0px 15px 0px 5px;
}


.contactInputOne_from_date {
	width:122px;
	height:28px;
	color:#202020;
	border:none;
	background:url(../images/calendar.png) top left no-repeat;
	font-size:13px;
	padding:0px 5px 0px 5px;
}
.red {
	height:33px;
	background:#d71921;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	line-height:33px;
	padding-left:10px;
}
.gray {
	height:33px;
	background:#dadada;
	color:#746565;
	font-weight:bold;
	font-size:12px;
	line-height:33px;
	padding-left:10px;
}
.blue {
	background:#2b2863;
	height:33px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	line-height:33px;
	padding-left:10px;
}
.abahy {
	background:url(../images/homelink2.jpg) no-repeat left bottom;
	width:233px;
	height:31px;
	float:left;
}
/*Date 21/12/12*/

.rightoh_regis {
	width:971px;
	float:left;
	margin-top:10px;
}
.search_data_regis {
	width:971px;
	float:left;
}
.redstrip_regis {
	width:961px;
	float:left;
	background:#d71921;
	height:33px;
	font-size:13px;
	color:#FFF;
	font-weight:normal;
	font-weight:bold;
	line-height:33px;
	padding-left:10px;
	text-align:center;
}
.form_content_area_regis {
	width:970px;
	float:left;
}
/* new Css 24/12/2012*/

/*New*/

.vishal_sharma_new {
	width:727px;
	float:left;
	font-family: 'BreeSerifRegular';
	font-size:18px;
	line-height:24px;
	color:#FF6565;
	font-weight:bold;
}




.vishal_sharma_new_12 {
	width:727px;
	float:left;
	font-family:Verdana;
	font-size:12px;
	line-height:18px;
	color:#FF6565;
	font-weight:normal;
}


.vishal_sharma_new_12 a {
	font-family:Verdana;
	font-size:11px;
	line-height:18px;
	color:#666;
	font-weight:normal;
	text-decoration:none;
}

.vishal_sharma_new_12 a:hover {
	font-family:Verdana;
	font-size:11px;
	line-height:18px;
	color:#FF6565;
	font-weight:normal;
	text-decoration:underline;
}

.borde{border-bottom:1px solid #d51927; height:5px;}


.borde_left {
	border-right:1px solid #494949;
	padding-left:5px;
}
.bor_circle {
	border:1px solid #494949;
}
.borde_bottom {
	border-bottom:1px solid #494949;
}
.padi_gateway {
	padding:5px 0 5px 5px;
}


.griding{}

.griding tr{}

.griding td{ border:1px solid #000000;}

.checkCancel
{
    margin-left:25px;
}

.contactInputNoUpper {
	width:225px;
	height:28px;
	color:#202020;
	text-transform: uppercase;
	border:none;
	background:url(../images/inpu.png) top left no-repeat;
	font-size:13px;
	padding:0px 15px 0px 5px;
}
/*SR Detail CSS On 23 Jan 2013*/
.search_new{height:36px; background:url(../images/search_broder.jpg) repeat-x left top; line-height:30px; font-size:12px; font-weight:bold; color:#FFF;}


.padin_gate{padding-left:5px;}



.trad{
	font-family:Verdana;
	font-size:12px;
	color:Black;

}


.term
{
    text-align:justify;
    font-family:Arial;
    
    margin:1px 5px 1px 5px;
    font-size:13px;
    background-color:White;
}

.bc {
    color: #363636;
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
    width: 609px;
    padding-left:15px;
}



/DropDown New/

.drop {
width:350px;
float:left;
}
.drop ul {
list-style:none;
}
.drop li {
float:right;
color:#0073da;
font-size:10px;
text-decoration:none;
padding:0 0 0 10px;
}
.drop li a {
float:right;
color:#0073da;
font-size:10px;
text-decoration:none;

}
.drop li a:hover {
float:right;
color:#0073da;
font-size:10px;
text-decoration:none;

}
/Dropdown Css Start Here/

Drop Down Css .dropdown {
z-index: 597;
width:100px;
}
.dropdown li:hover {
position: relative;
z-index: 599;
cursor: default;
}
.dropdown ul {
visibility: hidden;
position: absolute;
top: 100%;
left: -46px;
z-index: 598;
width: auto;
}
.dropdown ul li {
float: none;
}
.dropdown ul ul li {
float: none;
}
.dropdown ul ul ul {
top: 0;
left: 99%;
}
.dropdown li:hover > ul {
visibility: visible;
}
.dropdown ul li:hover > ul {
visibility: visible;
position:absolute;
z-index:999;
left:95%;
top:0;
}
.dropdownbg li a {
display:block;
line-height:40px;
margin-top:0px;
width:120px;
background:#dddddd !important;
text-decoration:none;
color:#242424 !important;
font-size:11px!important;
font-weight:bold;
border-bottom:1px #ffffff solid;
text-align:left;
padding-left:10px;
}
.dropdownbg li a:hover {
background:#dddddd !important;
color:#ed1c24 !important;
font-size:11px!important;
text-decoration:none;
}





/* Feedback*/

.backfeed{background:#292663; height:30px; line-height:30px; color:#FFF; }

.comme{height:30px; border:1px solid #ccc; width:200px;}

.comme12{height:70px; border:1px solid #ccc; width:350px;}

.coom{height:50px; border:1px solid #ccc; width:450px;}



.ICD_new{width:240px; height:30px; border:1px solid #5c5a88; padding:5px 5px;}





