﻿<%@ Page Language="C#" MasterPageFile="~/Pages/MasterPage.master" AutoEventWireup="true"
    CodeFile="GenerateNegativeDataReport.aspx.cs" Inherits="Tool_GenerateNegativeDataReport" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <link rel="stylesheet" href="../css1/style1.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css1/style1.css" type="text/css" media="screen" />
    <script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="../Scripts/ScrollableGridViewPlugin_ASP.NetAJAXmin.js" type="text/javascript"></script>
    <title></title>
    <script type="text/javascript">
        function checkDate(sender, args) {
            if (sender._selectedDate >= new Date()) {
                alert("You cannot select a day less than today!");
                sender._selectedDate = new Date();

                // set the date back to the current date
                sender._textbox.set_Value(sender._selectedDate.format(sender._format))
            }
        }


    </script>
    <script type="text/javascript">


        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }


        var TL;
        var TB;
        var TH;
        var TWt;
        var TAWB;
        var TMID;
        var TimeElapsed;


        function myFunctionL(e) {

            debugger;

            TL = e.timeStamp;
            document.getElementById("tbTool").value = TL;
            debugger;
        }

       
    </script>
    <style type="text/css">
        .style12
        {
            color: #CC3300;
        }
        .style13
        {
            font-size: x-large;
        }
        .style14
        {
            width: 1034px;
        }
        .style12
        {
            color: #CC3300;
        }
        .style13
        {
            font-size: x-large;
        }
        
        .glowing-border
        {
            /* border: 1px solid rgba(158, 158, 158, 0.58);
            margin-left: 2px;
            height: 28px;*/
            border: 2px solid #dadada;
            border-radius: 4px;
        }
        
        .glowing-border:focus
        {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }
        .web_dialog_overlay
        {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #000000;
            opacity: .15;
            filter: alpha(opacity=15);
            -moz-opacity: .15;
            z-index: 101;
            display: none;
        }
        .web_dialog
        {
            display: none;
            position: fixed;
            width: 860px;
            height: 440px;
            top: 20%;
            left: 30%;
            margin-left: -185px;
            background-color: #ffffff;
            border: 2px solid #336699;
            padding: 0px;
            z-index: 102;
            font-family: Verdana;
            font-size: 10pt;
            line-height: 28px;
            overflow-y: scroll;
        }
        .web_dialog_title
        {
            border-bottom: solid 2px #336699;
            background-color: #336699;
            padding: 4px;
            color: White;
            font-weight: bold;
        }
        .web_dialog_title a
        {
            color: White;
            text-decoration: none;
        }
        .align_right
        {
            text-align: right;
        }
        
        .awbimagecontainer
        {
            float: right;
            width: 29%;
            margin-right: 12px;
            margin-top: 43px;
            border: 1px solid #2D89EF;
            height: 180px;
        }
        
        .web_dialog_info
        {
            display: none;
            position: fixed;
            width: 940px;
            height: 510px;
            top: 22%;
            left: 36%;
            margin-left: -190px;
            margin-top: -100px;
            background-color: #ffffff;
            border: 2px solid #336699;
            padding: 0px;
            z-index: 102;
            font-family: Verdana;
            font-size: 10pt;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ScriptManager ID="ScriptManager2" runat="server">
    </asp:ScriptManager>
    <div style="margin-left: 0px; width: 950px;">
        <div>
            <div align="center">
                <span class="style13">View Negative Data Report</span>
            </div>
        </div>
        <div style="width: 500px; margin-bottom: 10px;margin-top:20px;">
            <div style="font-size: 13px; width: 120px; float: left;">
                Tool No
                <br />
                <asp:TextBox ID="inputToolNo" CssClass="glowing-border" runat="server" Width="120px"></asp:TextBox>
            </div>
            <div style="font-size: 13px; width: 120px; float: left; margin-left: 8px;">
                Start Date
                <br />
                <asp:TextBox ID="inputFromDate" CssClass="glowing-border" runat="server" Width="120px"></asp:TextBox>
                <cc1:CalendarExtender ID="CalendarExtender2" runat="server" Format="dd-MMM-yyyy"
                    Enabled="true" TargetControlID="inputFromDate">
                </cc1:CalendarExtender>
            </div>
            <div style="font-size: 13px; width: 120px; float: left; margin-left: 8px;">
                End Date
                <br />
                <asp:TextBox ID="inputToDate" CssClass="glowing-border" runat="server" Width="120px"></asp:TextBox>
                <cc1:CalendarExtender ID="CalendarExtender1" runat="server" Enabled="true" Format="dd-MMM-yyyy"
                    TargetControlID="inputToDate">
                </cc1:CalendarExtender>
            </div>
            <asp:ImageButton ID="btnSearch" runat="server" CausesValidation="false" ImageUrl="~/images/searchbtn.jpg"
                OnClick="btnSearch_Click" Style="margin-top: 10px; margin-left: 15px;" />
        </div>
        <asp:GridView runat="server" ID="gridViewNegativeData" AutoGenerateColumns="false"
            OnRowCommand="gridViewNegativeData_RowCommand" AllowPaging="false" AllowSorting="false"
            Style="font-size: 13px; font-family: Verdana; line-height: 26px;">
            <RowStyle BackColor="White" ForeColor="Black" />
            <Columns>
                <asp:BoundField DataField="Tool_No" HeaderText="Tool No" HeaderStyle-BackColor="#335599"
                    HeaderStyle-Width="100" HeaderStyle-ForeColor="White" />
                <asp:BoundField DataField="P_No" HeaderText="Position" HeaderStyle-BackColor="#335599"
                    HeaderStyle-Width="100" HeaderStyle-ForeColor="White" />
                <asp:BoundField DataField="Part_Name" HeaderText="Part Name" HeaderStyle-BackColor="#335599"
                    HeaderStyle-Width="400" HeaderStyle-ForeColor="White" />
                <asp:BoundField DataField="Station" HeaderText="Station" HeaderStyle-BackColor="#335599"
                    HeaderStyle-Width="150" HeaderStyle-ForeColor="White" />
                <asp:BoundField DataField="Rwk_No" HeaderText="Rework No" HeaderStyle-BackColor="#335599"
                    HeaderStyle-Width="150" HeaderStyle-ForeColor="White" />
                <asp:TemplateField HeaderText="View" HeaderStyle-BackColor="#335599" HeaderStyle-Width="150"
                    HeaderStyle-ForeColor="White">
                    <ItemTemplate>
                        <asp:LinkButton ID="lnkBtnViewDetails" runat="server" CommandName="ViewDetails" CommandArgument='<%#Eval("Tool_No")+"-"+Eval("P_No")+"-"+Eval("Part_Name")+"-"+Eval("Station")+"-"+Eval("Rwk_No") %>'>View Details</asp:LinkButton>
                    </ItemTemplate>
                </asp:TemplateField>
            </Columns>
        </asp:GridView>
        <div>
            <div>
                <div id="overlay" runat="server" clientidmode="Static" class="web_dialog_overlay">
                </div>
                <div id="dialog" clientidmode="Static" runat="server" class="web_dialog">
                    <div style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
                        <div style="float: left; width: 100%;">
                            <div class="web_dialog_title" style="width: 20%; float: left; margin-bottom: 10px;">
                                Transaction History
                            </div>
                            <div class="web_dialog_title align_right">
                                <asp:LinkButton runat="server" ID="btnClosePopUp" CausesValidation="false" ClientIDMode="Static"
                                    OnClick="btnClosePopUp_Click">Close</asp:LinkButton>
                            </div>
                        </div>
                        <div runat="server" id="pnlHistoryPopUp" style="padding: 10px; margin-bottom: 10px;">
                            <p style="font-size: 15px; color: Black">
                                Part History Table</p>
                            <asp:GridView runat="server" ID="gridViewPartHistory" AutoGenerateColumns="false"
                                OnRowCommand="gridViewNegativeData_RowCommand" AllowPaging="false" AllowSorting="false"
                                Style="border-collapse: collapse; font-size: 13px; line-height: 24px;">
                                <RowStyle BackColor="White" ForeColor="Black" />
                                <Columns>
                                    <asp:BoundField DataField="Id" HeaderText="Id" HeaderStyle-BackColor="#335599" HeaderStyle-Width="70"
                                        HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="Location" HeaderText="Location" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="200" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="TransDate" HeaderText="TransDate" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="180" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="Status" HeaderText="Status" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="90" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="PendingQtyInPPC" HeaderText="PendingQtyInPPC" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="150" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="SentReceivedQty" HeaderText="SentReceivedQty" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="150" HeaderStyle-ForeColor="White" />
                                </Columns>
                            </asp:GridView>
                            <br />
                            <p style="font-size: 15px; color: Black">
                                Location Info Table</p>
                            <asp:GridView runat="server" ID="gridViewLocationInfo" AutoGenerateColumns="false"
                                OnRowCommand="gridViewNegativeData_RowCommand" AllowPaging="false" AllowSorting="false"
                                Style="border-collapse: collapse; font-size: 13px; line-height: 24px;">
                                <RowStyle BackColor="White" ForeColor="Black" />
                                <Columns>
                                    <asp:BoundField DataField="Location" HeaderText="Location" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="220" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="TransDate" HeaderText="Sent Received Date" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="180" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="Quant_Sent" HeaderText="Quantity Sent" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="110" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="Quant_Rec" HeaderText="Quantity Received" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="150" HeaderStyle-ForeColor="White" />
                                    <asp:BoundField DataField="Quant_Pend" HeaderText="Quantity Pending" HeaderStyle-BackColor="#335599"
                                        HeaderStyle-Width="150" HeaderStyle-ForeColor="White" />
                                </Columns>
                            </asp:GridView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
