﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Pages/MasterPage.master"
    CodeFile="GRSearch.aspx.cs" Inherits="Tool_GRSearch" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <link rel="stylesheet" href="../css1/style1.css" type="text/css" media="screen" />
    <script type="text/javascript">


        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>
    <style type="text/css">

  
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <table style="margin-left: 25px" align="left" width="100%">
        <tr>
            <td colspan="4" align="center" style="font-size: x-large; color: black">
                <span class="style1">Search Rework / Fresh Items </span>
                <asp:ScriptManager ID="ScriptManager1" runat="server">
                </asp:ScriptManager>
            </td>
        </tr>
       <%-- <tr>
            <td>
            </td>
            <td>
                <asp:RadioButton ID="RadioButton3" runat="server" GroupName="Type" AutoPostBack="true"
                    OnCheckedChanged="RadioButton3_CheckedChanged" />Rework &nbsp;&nbsp;
                <asp:RadioButton ID="RadioButton4" GroupName="Type" runat="server" AutoPostBack="true"
                    OnCheckedChanged="RadioButton4_CheckedChanged" />Fresh
            </td>
        </tr>--%>
        <tr>
            <td>
            </td>
            <td height="30px">
                Tool No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="tbTool" CssClass="glowing-border" runat="server" Width="200px" style="margin-left:2px"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td height="30px">
                Station No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="tbStation" CssClass="glowing-border" runat="server" Width="200px"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td height="30px">
                Position&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                <asp:TextBox ID="txtposition" CssClass="glowing-border" runat="server" Width="200px" ></asp:TextBox>
               
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td height="30px">
                Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="tbLocation" CssClass="glowing-border" runat="server" Width="200px" style="margin-left:6px"></asp:TextBox>
                
            </td>
          
        </tr>
        <tr>
            <td>
            </td>
            <td height="30px" colspan="51">
                GR No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="txtGr" CssClass="glowing-border" runat="server" Width="200px"></asp:TextBox>
                 
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
            <asp:Button ID="Button1" CssClass="glowing-border" style="background:#335599 url(../images/bg.png) repeat-x 0 -110px;color:white; margin-left:105px;margin-top:5px;height:35px;width:90px;" runat="server" Text="Search" OnClick="Button1_Click" />
            </td>

       
        </tr>
        <tr>
        </tr>
        <td>
        </td>
        <td>
        
                <span style="color: Blue;">
                    <asp:Label ID="lblTotal" runat="server" Text="Total:"></asp:Label><asp:Label ID="lblTotal1"
                        runat="server" Text=""></asp:Label></span>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td height="10px">
                <asp:Label ID="lbl" runat="server"></asp:Label>
            </td>
        </tr>
        <tr>
            <td align="left">
                <td colspan="3">
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>
                            <asp:Panel ID="Panel1" runat="server" Width="96%" ScrollBars="Horizontal">
                                <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="false" AllowPaging="True"
                                    EmptyDataText="No Record Found" ForeColor="#333333" GridLines="None" OnPageIndexChanging="GridView1_PageIndexChanging"
                                    Font-Size="13px" Width="100%" OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
                                    <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
                                    <Columns>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="60px" ItemStyle-Width="60"
                                            ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Tool No
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label1" runat="server" Text='<%# Eval("tool_no") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="75px" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Station
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label2" runat="server" Text='<%# Eval("station") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="80px" ItemStyle-Font-Size="13px"
                                            ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Position No
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:HyperLink ID="link" Text='<%# Eval("p_no") %>' runat="server" NavigateUrl='<%# string.Format("../Tool/GRPartHistory.aspx?p_no={0}&part_name={1}&tool_no={2}&station={3}&req_qty={4}&rwk_no={5}",
                    HttpUtility.UrlEncode(Eval("p_no").ToString()), HttpUtility.UrlEncode(Eval("part_name").ToString()), HttpUtility.UrlEncode(Eval("tool_no").ToString()),HttpUtility.UrlEncode(Eval("station").ToString()),HttpUtility.UrlEncode(Eval("req_qty").ToString()),HttpUtility.UrlEncode(Eval("rwk ").ToString())) %>'>
                                                </asp:HyperLink>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <%-- <asp:TemplateField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="60px" ItemStyle-Width="60" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Rework No
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label31" runat="server" Text='<%# Eval("Rework") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>--%>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" HeaderStyle-Width="170px" ItemStyle-Width="170"
                                            ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Part Name
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label3" runat="server" Text='<%# Eval("part_name") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <%-- <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-HorizontalAlign="Center">
                                            <HeaderTemplate>
                                                Required Quantity
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label4" runat="server" Text='<%# Eval("req_qty") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>--%>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Location
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label5" runat="server" Text='<%# Eval("location") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-HorizontalAlign="Center">
                                            <HeaderTemplate>
                                                Upload_Qty
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label4" runat="server" Text='<%# Eval("Upload_Qty") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <%-- <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Quantity Sent
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label6" runat="server" Text='<%# Eval("quant_sent") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>--%>
                                        <%-- <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Quantity Received
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label7" runat="server" Text='<%# Eval("quant_rec") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>--%>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center">
                                            <HeaderTemplate>
                                                Quantity Pending
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label8" runat="server" Text='<%# Eval("qtypending") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-Width="75px" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Sent_date
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label50" runat="server" Text='<%# Eval("Sent_Received_Date","{0:dd/MM/yyyy HH:mm:ss tt}") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-Width="75px" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                Received_date
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label60" runat="server" Text='<%# Eval("Received_Date","{0:dd/MM/yyyy HH:mm:ss tt}") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderStyle-HorizontalAlign="Left" ItemStyle-Width="75px" ItemStyle-HorizontalAlign="Left">
                                            <HeaderTemplate>
                                                GR NO
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <asp:Label ID="Label601111" runat="server" Text='<%# Eval("Rwk") %>'></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                    <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                                    <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
                                    <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
                                    <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                                    <EditRowStyle BackColor="#999999" />
                                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                                </asp:GridView>
                            </asp:Panel>
                            </td> </td> </tr>
                            <%-- <tr>
                                <td height="50px">
                                </td>
                                <td colspan="3" align="center">
                                    <asp:Button ID="btnApproved" runat="server" Text="Add Rate" OnClick="btnApproved_Click"
                                        Width="150px" />
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                </td>
                            </tr>--%>
                        </ContentTemplate>
                    </asp:UpdatePanel>
    </table>
</asp:Content>
