﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SentChallan.aspx.cs" Inherits="Tool_SentChallan" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div runat="server" id="divChallanHtml1">
    </div>
    <div runat="server" id="divChallanHtml2" style="margin-top: 100px;">
    </div>
    <div runat="server" id="divChallanHtml3" style="margin-top: 100px;">
    </div>
    </form>
</body>
</html>
