﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Pages/MasterPage.master"
    CodeFile="WelcomePage.aspx.cs" Inherits="WelcomePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server"> 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
 <div style="width: 100%; min-height: 470px;">
  <div style="padding: 9px;">
    <asp:Label runat="server" ID="lblErrorMessage" ForeColor="Red"></asp:Label>
  </div>
 </div>
</asp:Content>
