/** {
	margin:0;
	padding:0;
}
body {
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#1c1c1c;
	line-height:18px;
}
img {
	border:none;
}
ul {
	padding:0;
	margin:0;
}
li {
	list-style:none;
}
hover {
	text-decoration:underline;
}
a {
	text-decoration:none;
	color:#ed2520;
}*/

/*####-------------------univershal--------------------------##*/
.cl {
	clear:both;
}
.floatR {
	float:right;
}
.floatL {
	float:left;
}

.mrgnr0 {
	margin-right:0px!important;
}

.mrgnt { margin-top:35px;}


/*####-------------------wraper--------------------------##*/
#wraper {
	width:100%;
	height:auto;
	margin:0 auto;
}
#main {
	width:790px;
	height:auto;
	padding-bottom:5px;
	background:#FFF;
	margin:0 auto;
}
.box_contner {
	width:790px;
	height:auto;
	padding:5px;
	background:#FFF;
	margin:0 auto;	
	border-bottom:0px solid #000;
}
.box_contner1 {
	width:790px;
	height:auto;
	padding:5px;
	background:#FFF;
	margin:0 auto;	
}

.logo {
	float:left;
	width:124px;
	height:38px;
	margin:50px 10px 0 0;
	
}

.textmed {
	float:left;
	width:500px;
	text-align:center;
	height:auto;
	margin:20px 10px 0 60px;
	color:#1c1c1c;
	font-weight:bold;
	font-size:13px;
}
.textmedR {
	float:right;
	width:120px;
	height:auto;
	text-align:right;
	margin:20px 0px 0 0px;
	color:#2c2c2b;
	font-size:11px;
}
.hed {
	width:auto; 
	padding:0px 0px 3px 0px;
	color:#1c1c1c;
	font-weight:bold;
	font-size:12px;
}

.cont_box{
	width:640px;
	height:auto;
	margin:0px 0px 0 0px;
	font-size:12px;
	}

.cont_boxin{
	float:left;
	width:270px;
	height:auto;
	margin:10px 0px 10px 0px;
	}

.cont_boxinr{
	float:left;
	width:240px;
	height:auto;
	margin:0px 0px 0 130px;
	}
	
.fbold{ font-weight:bold; font-size:11px;}	
.fbld{ font-weight:bold; font-size:12px; }	

.fS{ font-size:11px;}