/* LOG IN start */
body.loginbod {
	background: url('../images/back_login.jpg') top center repeat-y;
	background-color: #000;
	margin: 0px;
	padding: 0px;
}

#loginwrap {
	width: 590px;
	height: 236px;
	margin: 10px auto;
	z-index: 1;
	border: 0px solid red;
}

#loginback {
	position: absolute;
	z-index: 5;
	width: 590px;
	height: 236px;
	background-color: #ccc;
	background-color: #d5d5d5;
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

#loginlogin {
	position: absolute;
	z-index: 10;
	width: 510px;
	height: 178px;
	margin: 29px 0 0 39px;
}

#equinix, .equinixImg {
	margin: 0 0 24px 0;
	float: left;
}

#languageselect {
	float: right;
}

#languageselect select {
	font-size: 10px;
}

#loginlogin h4 {
	margin: 0;
	line-height: 10px;
	font-weight: bold;
	color: #666;
}

#reddivide, .reddivideImg {
	margin: 6px 0 8px 0;
	float: left;
}

#loginlogin p, #loginlogin td label, #loginlogin th label {
	margin: 0;
	color: #333;
}

#loginlogin table {
	margin: 12px 0 0 0;
}

#resetPassword table {
	margin: 10px 0 0 0;
}

#loginlogin a.forgot {
	margin: 4px 0 0 0;
	font-size: 10px;
	line-height: 12px;
	color: #215ca1;
	font-weight: bold;
	float: right;
}

.loginput {
	width: 198px;
	height: 18px;
	margin: 0;
	padding: 1px;
	text-align: left;
	border: 1px solid #8f8f8f;
}

.loginbutton {
	margin: 0 0 0 0;
}

#logincontact {
	position: absolute;
	z-index: 10;
	width: 590px;
	height: 100px;
	margin: 236px 0 0 0;
	background: url('../images/back_loginreflect.png') no-repeat;
	border: 0px solid red;
}

#logincontact table {
	margin: 29px 0 0 39px;
	border: 0px solid red;
}

#logincontact h4 {
	margin: 0 0 8px 0;
	color: #fff;
	font-weight: bold;
}

#logincontact p {
	font-size: 11px;
	line-height: 14px;
	color: #bcbcbc;
}

#logincontact a {
	font-size: 11px;
	line-height: 14px;
	color: #fff;
}

.longInfo {
	height: 63px; /* MAC firefox requires height > 60px for overflow scrollbar to be displayed properly */
	overflow: auto;
	margin-top: 5px;
}

#loginlogin .longInfo table {
	margin-top: 0px;
}

#loginlogin td {
	vertical-align: top;
}

#loginlogin th {
	vertical-align: middle;
}

#logincontact.answerChallengeQuestions {
	margin-top: 475px;
}

#loginlogin.answerChallengeQuestions,#loginback.answerChallengeQuestions
	{
	height: 475px;
}
/* LOG IN end */
