html,body {
	width: 100%;
}


body {
		background: url(../images/back.jpg) repeat;
	margin: 0px;
	padding: 0px;
}

/* Disable firefox resize on textarea*/
textarea {
	resize: none;	
}

/* layout styles */
#wrapper {
	width: 967px;
	border-top-width: 20px;
	border-top-style: solid;
	border-top-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#contenttop {
	width: 967px;
	height: 24px;
	background: url('../images/content_top.jpg') no-repeat;
	border: 0px solid yellow;
}

#contentbot {
	width: 967px;
	height: 21px;
	float: left;
	background: url('../images/content_bot.jpg') no-repeat;
	border: 0px solid white;
}

/* general styles */
A,ADDRESS,BLOCKQUOTE,BODY,CAPTION,CENTER,DD,DIR,DIV,DL,DT,FORM,H1,H2,H3,H4,.H4,H5,H6,INPUT,MENU,OL,P,TD,TH,UL,LAYER,SELECT,TEXTAREA,PRE
	{
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 15px;
	font-weight: normal;
	color: #bbb;
	margin: 0px;
	padding: 0px;
}

p {
	font-weight: normal;
}

h1 {
	font-size: 26px;
	font-weight: normal;
	line-height: 26px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
}

h4 {
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
}

sup {
	font-family: inherit;
	font-size: 80%;
	/* vertical-align: text-top; */
	line-height: 11px;
}

a {
	color: #215ca1;
	text-decoration: none;
	/* position: relative; */
}

a:hover {
	text-decoration: underline;
}

a.bold {
	font-weight: bold;
}

input,textarea,select {
	padding: 2px;
	color: #464646;
}

.button {
	font-size: 11px;
	cursor: pointer;
}

.button25 {
	font-size: 11px;
	width: 125px;
}

.button125 {
	font-size: 11px;
	width: 125px;
	margin-right: 10px;
}

.button130 {
	font-size: 11px;
	width: 130px;
	margin-right: 10px;
}

.buttonAuto11 {
	font-size: 11px;
	width: auto;
	margin-right: 10px;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
}

.bluehighlight {
	color: #215ca1;
}

.darkText {
	color: #4d4d4f;
}

.darkTextCalendar SPAN {
	color: #4d4d4f;
	font-size: 10px;
}

.plink {
	line-height: 18px;
	cursor: pointer;
	border-bottom: dashed 1px #215ca1;
}

.plinkSolid {
	line-height: 18px;
	cursor: pointer;
	border-bottom: solid 1px #215ca1;
}

/* Navigation */
#topnav {
	width: 967px;
	height: 40px;
	margin: 24px 0 0 0;
	padding: 0;
	float: left;
	border: 0px solid blue;
}

#flyout {
	width: 937px;
	height: 40px;
	margin: 0 15px;
	background: url('../images/nav-top_all.png') no-repeat;
	border: 0px solid blue;
}

#flyout div { /* height: 40px; */
	float: left;
	border: 0px solid green;
}

#flyout a {
	padding: 14px 18px;
	font-size: 14px;
	line-height: 12px;
	text-decoration: none;
	float: left;
	display: block;
	border: 0px solid white;
}

/* #flyout .left {
 background: url('../images/nav-top_left.png') no-repeat;
}
#flyout .mid {
 background: url('../images/nav-top_mid.png') no-repeat;
}
#flyout .right {
 background: url('../images/nav-top_right.png') top right no-repeat;
} */
#flyout .divide {
	width: 1px;
	height: 40px;
	background: url('../images/nav-top_div.png') top right no-repeat;
}

/* Header */
#head {
	width: 967px;
	margin: 0;
	padding: 0;
	float: left;
	border: 0px solid white;
	background-image: url('../images/content_mid.jpg');
	background-repeat: no-repeat;
}

#headleft {
	width: 85px;
	margin: 0 0 0 33px;
	padding: 0;
	float: left;
	border: 0px solid blue;
}

#headright {
	width: 700px;
	margin: 0;
	padding: 0 18px 0 0;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	text-align: right;
	float: right;
	border: 0px solid green;
}

#headright a, #headright td {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

#headright td.timezoneclass{
	text-align: right;
}	

#headright span {
	margin: 0 14px;
}

/* Footer */
#footer {
	width: 952px;
	height: 43px;
	margin: 0;
	padding: 13px 0 0 15px;
	font-size: 10px;
	line-height: 18px;
	color: #fff;
	text-align: left;
	/*float: left;*/
	background: url('../images/content_reflect.jpg') no-repeat;
}

#footer a {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	text-align: center;
}

#footer span {
	margin: 0 12px;
}

#portnarrow { 
 width: 329px;  
 margin: 0 6px 0 15px;
 *margin: 0 0px 0 5px;/* Fix for GCP-5485-- shows in IE7 and below */
_margin: 0 6px 0 15px;/*Fix for GCP-5485-- shows in IE6 and below */
 padding: 0; 
 font-size: 12px; 
 line-height: 18px; 
 color: #999; 
 text-align: center; 
 float: left;
 border: 0px solid green;
 height:253px;
}

.portnarrowtopClass { 
 width: 329px; 
 height: 31px; 
 background: url('../images/port-narrow_top.png') no-repeat; 
 border: 0px solid yellow;
}
#portnarrowmid,#portnarrowmid2 { 
 width: 329px; 
 height: 185px;
 padding-top: 8px;
 float: left; 
 background: url('../images/port-narrow_mid.png') repeat-y; 
 border: 0px solid white;
}

.portnarrowbotClass {
	width: 329px;
	height: 31px;
	background: url('../images/port-med_bot.png') no-repeat;
	border: 0px solid white;
	cursor: pointer;
	text-align: center;
	float: left;
}

.narrowh4hack {
	float: left;
	margin-top:6px;
}

#narrowbarwrap1 {
	padding-left: 55px;
}

#narrowbarwrap2 {
	padding-left: 40px;
}

/* Homepage requests portlet */
#portmiddle {
	width: 596px;
	height: 256px;
	margin: 0 0 0 15px;
	overflow-y: hidden;
	/*float: left;*/
}

#portwide {
	width: 596px;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	text-align: center;
	/*float: left;*/
	border: 0px solid green;
}

.portwidetopClass {
	width: 596px;
	height: 31px;
	background: url('../images/port-wide_top.png') no-repeat;
	border: 0px solid yellow;
	cursor: pointer;
}

#portwidemid,#portwidemid2 {
	width: 572px;
	height: 182px;
	padding-top: 8px;
	background: url('../images/port-wide_mid.png') repeat-y;
	border: 0px solid white;
	text-align: left;
	padding-left: 24px;
}

.portwidebotClass {
	width: 596px;
	height: 32px;
	background: url('../images/port-wide_bot.png') no-repeat;
	border: 0px solid white;
	cursor: pointer;
	text-align: center;
}

/* home toggle box divs style */
.wrapperBar {
	width: 100%;
	padding: 10px;
}

.flatBar,.bevelBar {
	width: 100%;
	text-align: center;
	background-color: #aaa;
	font-weight: bold;
}

.flatBar {
	color: #fff;
	cursor: pointer;
}

.bevelBar {
	color: #555;
	cursor: pointer;
}

.gridHead h4 {
	padding: 10px 0 0 0;
	color: #464646;
}

.gridHeadTop h4 {
	color: #fff;
}

#portnarrowmid div.gridHead h4 {
	padding: 10px 0 0 0;
	color: #464646;
}


/* data table style */
.gridTable {
	width: 556px;
	margin: 0px 0px 0px 0px;
}

.gridTableNarrow {
	width: 300px;
	margin: 0px 10px 0px 16px;
}

.gridContactTableNarrow {
	width: 400px;
	margin: 0px 10px 0px 16px;
}

.gridTableAutosize {
	width: auto;
}

.gridTableFullPage {
	table-layout: fixed;
}

.gridTableFullPage th p a {
	line-height: 14px;
}

.gridTable .rich-table-row td,.gridTable .rich-table-row th,.gridTable .rich-table-header td,.gridTable .rich-table-header th
	{
	text-align: left;
	vertical-align: top;
}

.gridTable .rich-table-row th,.gridTable .rich-table-header th {
	padding: 1px 3px 8px 0;
}

.gridTable .rich-table-row th a,.gridTable .rich-table-header th a, .gridTable .rich-table-row th p,.gridTable .rich-table-header th p {
	font-size: 12px;
	font-weight: normal;
	color: #464646;
	text-decoration: none;
}

.gridTable .rich-table-row th a,.gridTable .rich-table-header th a {
	text-decoration: underline;
}

.gridTable .rich-table-row td,.gridTable .rich-table-header td {
	font-size: 9px;
	line-height: 10px;
	font-weight: normal;
	color: #464646;
}

.gridTable p {
	font-size: 9px;
	line-height: 10px;
	font-weight: normal;
	color: #464646;
	padding: 4px 3px 5px 3px;
	word-wrap:break-word;
}
.gridTable p.leftPadding{
	padding-left: 10px;
}
.gridTable p.columnLeftPadding{
	padding-left: 8px;
}
.gridTableHomePage p,.gridTableHomePage td {
	font-weight: bold;
}

.gridTable a {
	font-size: 9px;
	line-height: 10px;
	font-weight: bold;
	color: #215ca1;
}
.adminLabelText{
	font-family:Helvetica, Arial, sans-serif;
	border-color:#464646;
	color:#464646;
	font-size:9px;
	line-height:10px;
	font-weight:normal;
	margin:0px;
}
th.center,td.center,#portfullmid DIV.portboxwrap table.gridTable th.center,#portfullmid DIV.portboxwrap table.gridTable td.center
	{
	text-align: center;
}

.name-column {
	width: 140px;
}

.name-column-t {
	width: 170px;
}

.email-column {
	width: 200px;
}

.phone-column {
	width: 100px;
}

.date-time-column {
	width: 100px;
}

.date-time-mns-column {
	width: 124px;
}

.date-column {
	width: 60px;
}

.approve-column {
   width: 100px;
}

.user-id-column {
	width: 170px;
}

.user-id-column-t {
	width: 140px;
}

.gridStatus {
	width: 7px;
	height: 16px;
	margin: 1px 0 0 0;
	float: left;
}

.gridStatus img {
	width: 14px;
	height: 13px;
	margin: 1px 1px 0 0;
	float: left;
}

.search-options {
	color: #464646;
	padding-left: 3px;
	margin-bottom: 18px;
}

select.itemsPerPage {
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	margin-bottom: 1px;
	margin-left: 100px;
}
select.itemsPerPageOnRight {
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	margin-bottom: 1px;
	margin-left: 0px;
}

.searchinput {
	width: 166px;
	height: 13px;
	margin: 18px 12px 2px 14px;
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.inputButton {
	font-size: 11px;
	color: #4d4d4f;
	padding: 0px 0px 0px 0px;
}

.inputButtonWithPad {
	font-size: 12px;
	color: #4d4d4f;
}

.tbMedWide {
	font-size: 11px;
}

.fieldControl select,.fieldControl .tbMedWide {
	font-size: 11px;
	width: 120px;
}

.fieldControlWidth{
	width: 610px;
}

.fieldControl .tbMedWide {
	width: 112px;
}

.fieldControl label {
	font-size: 12px;
	color: #464646;
}

.fieldControl .selectAutoWidth {
	width:auto;
	font-size:12px;	
}
.rowOn {
	background-color: #e0e0e0;
}
.pagverticalalign {
	vertical-align: top;
}
.rightwidecolpagination,.fullwidecolpagination {
	position: relative;
	height: 24px;
	margin: 0 0 18px 0;
}

.rightwidecolpagination {
	width: 700px;
}

.fullwidecolpagination {
	width: 900px;
}

.rightwidecolpagright {
	margin: 0 50px 0 0;
	float: right;
	border: 0px solid blue;
}

.pagrightnarrow {
	width: 260px;
}

.pagrightwide {
	width: 330px;
}

.rightwidecolpagright select {
	width: 130px;
	float: left;
}

.rightwidecolpagright table {
	margin: 0 0 0 47px;
	float: right;
}

.rightwidecolpagright table td {
	padding: 0 0 0 2px;
}

.rightwidecolpagright table img {
	margin: 2px;
}

/* middle header bar */
.h4hack {
	margin-top: 5px;
	float: left;
}

.h4hack h4 {
	padding-top: 3px;
}

#barwrap1 {
	padding-left: 210px;
}

#barwrap2 {
	padding-left: 220px;
}

/* subhead approval queue and breadcrumb */
#subhead {
	width: 967px;
	height: 45px;
	margin: 0;
	padding: 0;
	/*float: left;*/
	border: 0px solid red;
}

#subhead div {
	color: #fff;
	text-align: left;
	/*float: left;*/
}

#subhead span {
	margin: 0 14px;
}

#subhead .h4ish {
	margin: 0 14px 0 0;
	font-size: 14px;
	font-weight: normal;
	color: #bbb;
}

#subhead .numlrg {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}

#yourqueue {
	width: 935px;
	height: 13px;
	margin: 16px 0 0 0;
	padding: 0 0 0 32px;
	/*float: left;*/
	border: 0px solid white;
}

#yourqueue A {
	color: white;
}

#yourqueue span {
	margin: 0 3px 0 3px;
}

/* general portal page shell */
#portfull {
	width: 933px;
	margin: 0 17px;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	text-align: center;
	float: left;
	border: 0px solid green;
}

#portfulltop {
	width: 933px;
	height: 31px;
	text-align: left;
	float: left;
	background: url('../images/port-full_top.png') no-repeat;
	border: 0px solid yellow;
}

#portfullmid {
	width: 933px;
	padding-top: 8px;
	text-align: left;
	float: left;
	color: #464646;
	background-color: #fff;
	border: 0px solid white;
}

#portfullmid p {
	color: #464646;
	text-align: left;
}

.textAlignMiddleScheduling {
	margin-top:6px;
	margin-left:10px;
}

#portfullbot {
	width: 933px;
	height: 24px;
	float: left;
	background: url('../images/port-full_bot.png') no-repeat;
	border: 0px solid white;
}

#portfulltop h4,.rich-mpnl-header h4 {
	margin: 9px 0 0 14px;
	color: #fff;
	font-weight: bold;
	border: 0px solid red;
}

#portfullmid {
	text-align: left;
}

#portfullmid div.portboxwrap {
	width: 694px;
	margin: 15px 0px 15px 15px;
	text-align: left;
	color: #4d4d4f;
	font-size: 11px;
}

#portfullmid div.portboxwrap p {
	margin-bottom: 6px;
	color: #4d4d4f;
	font-size: 11px;
}

#portfullmid div.portboxwrap p span {
	font-size: 12px;
}

#portfullmid div.portboxwrap p,#portfullmid div.portboxwrap .bluehighlight a
	{
	font-size: 11px;
}

.portboxwrap40 {
	clear: both;
	width: 40%;
	float: left;
}

.portboxwrap60 {
	width: 60%;
	float: left;
}

/* informational left columns */
#randomleftcoltext {
	position: absolute;
	z-index: 2;
	width: 190px;
	height: 50px;
	margin: 6px 0 0 15px;
	text-align: left;
}

#randomleftcoltext p {
	font-size: 11px;
	line-height: 13px;
}


	
.noRequestsMsg {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #464646;
}




.leftcol {
	width: 200px;
	margin: 15px 0 0 0;
	float: left;
}

.leftcol h4 {
	margin: 40px 0 0 15px;
	color: #464646;
	font-weight: bold;
}

.leftcol p,.leftcol a {
	margin: 10px 0 0 15px;
}

.leftcol a {
	color: #215ca1;
}

.topritbord {
	border-top: 1px solid #969696;
	border-right: 1px solid #969696;
}

.leftcol .filters {
	margin: 10px 0 6px 15px;
}

.leftcol .filters h5,.leftcol .filters td {
	padding: 2px 2px 8px 2px;
	font-size: 11px;
	color: #464646;
	text-align: left;
}

.filtersSelectItem {
	font-size: 11px;
	width:130px; 
}

.leftcol .filters h5 {
	font-weight: bold;
	text-align: left;
}

.leftcol table {
	margin: 10px 0 6px 15px;
}

.leftcol table th {
	font-weight: bold;
	text-align: left;
}

.leftcol table th,.leftcol table td {
	padding: 2px 2px 8px 2px;
	font-size: 11px;
	color: #464646;
	text-align: left;
}

.leftcolwide {
	width: 340px;
	margin: 0;
	border: 0px solid red;
}

.leftcolwide td {
	height: 20px;
	margin: 30px 0 0 0;
}

.leftcolwide a {
	margin: 0;
	font-size: 11px;
}

.leftcolwide input {
	margin: 0 0 0 -2px;
	font-size: 11px;
}

.nobord {
	margin: 90px 0;
}

.nobord a {
	font-size: 11px;
}

.nobord img {
	margin: 10px 0;
	float: left;
}

.rightwidecol {
	/** position: relative; **/
	width: 708px;
	margin: 10px 0 0 0;
	float: right;
	border: 0px solid red;
	padding: 0px;
	}

.rightwidecolhigh {
	margin: 0;
}

.headerOverYellow {
	margin: 25px 0 10px 15px;
	color: #4d4d4f;
	font-size: 12px;
	font-weight: bold;
	background: url('../images/yellow-grad-line.gif') no-repeat;
	background-position: 0 17px;
	height: 18px;
	clear: both;
}

.securityQAUpdatedMessage {
	margin: 25px 0 10px 15px;
	color: #808080;
	font-size: 12px;
	font-weight: bold;
}

.headerOverYellowLeft {
	height: 22px;
	background: url('../images/line-hor-leftcol_yellow.png') bottom left
		no-repeat;
}

.headerOverYellowShort {
	background-position: -400px 17px;
}

.headbordround {
	width: 258px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
	padding: 14px 0;
	text-align: center;
	border: 1px solid #969696;
}

.headbordround h4 {
	color: #464646;
	font-weight: bold;
}

/*  Forms */
.reqFields2 {
	font-size: 11px;
	margin: 10px 0px 0px 8px;
}

.redhighlight {
	color: #fd0003;
}

.formSection {
	margin: 24px 0 0px 15px;
	text-align: left;
	clear: both;
}

.formRow, .formRowInstruction, .formRowCheckBox, .formRowError {
	margin: 12px 0px 0px 15px;
	text-align: left;
	clear: both;
	overflow: hidden;
	width: 94%;
}



.formRowInstruction {
	margin: 0px 0px 10px 15px;
}

.formRow .instructions {
	margin-bottom: 10px;
}

.formRowCheckBox {
	margin-top: 5px;
}

.formRowError {
	margin-top: 1px;
}

.subinstructions {
	margin-left: 25px;
}

.formRow .notes {
	
}

.formRowTD150px {
	white-space:nowrap; 
	width:150px
}


.fieldName, .fieldName42Width, .fieldName30Width {
		
	color: #4d4d4f;
	font-size: 11px;
}

.fieldName {
	float: left;
	width: 135px;
	line-height: 16px;
	min-height: 20px;
	margin-left: 1px;
}

.fieldName42Width {
	width: 42px;
}

.fieldName30Width {
	width: 30px;
}

.fieldName284Width {
	width: 284px;
}

.fieldName300Width {
	width: 300px;
}

.fieldNameLarge {
	float: left;
	width: 120px;
	color: #4d4d4f;
	font-size: 11px;
	line-height: 16px;
	min-height: 20px;
}

.fieldNameMedium {
	float: left;
	width: 70px;
	color: #4d4d4f;
	font-size: 11px;
	line-height: 16px;
	min-height: 20px;
	margin-top:5px;
}

.fieldNameSmall {
	float: left;
	width: 40px;
	color: #4d4d4f;
	font-size: 11px;
	line-height: 16px;
	min-height: 20px;
	margin-top:5px;
}

.fieldControl, .fieldControlText {
	float: left;
	font-size: 11px;
	min-width: 130px;
}

.fieldControlText {
	color: #333333;
}

.fieldControl textarea {
	width: 440px;
	font-size: 11px;
}

.fieldNameLargeLink{
	float: left;
	width: 120px;
	font-size: 11px;
	line-height: 16px;
	min-height: 20px;
	cursor: pointer;
	color: #4D4D4F;
}

.fieldNameTextDashed {
	border-bottom: dashed 1px #215ca1;
}

.tbWide {
	font-size: 11px;
	width: 200px;
}

.tbWideSingleCol {
	font-size: 11px;
	width: 263px;
}
.tbWideSiteVisit {
	font-size: 11px;
	width: 215px;
}

.inviteTbWide{
	font-size: 11px;
	width: 440px;
}	

.buttonWrapBottom {
	margin: 25px 0px 0px 15px;
}

.fieldControl select.wideSelect {
	width:200px;
}

.fieldControl select.wideSelectSingleCol {
	width:270px;
}

.fieldControl select.realWideSelect {
	width:400px;
}

.fieldControl .radioButtons label {
	color: #4d4d4f;
	margin-left: -2px;
	font-size: 11px;
}

.portboxwrap40 .fieldControl .radioButtons label,.portboxwrap60 .fieldControl .radioButtons label,.fieldControl label
	{
	font-size: 11px;
}

.fieldControl .radioButtons input {
	margin-bottom: 3px;
	vertical-align: middle;
}

.fieldControl textarea.taComments {
	width: 440px;
}

.fieldControl textarea.taCommentsAddInfo, .width600 {
	width: 600px;
}

.fieldControl textarea.taCommentsAddInfoSingleCol{
	width: 889px;
}

.fieldControl textarea.taCommentsInShip {
	width: 464px;
}

.portboxwrap60 .fieldControl textarea {
	width: 112px;
}

.pUpload {
	margin-top: 10px;
}

.pUpload a {
	font-size: 11px;
	cursor: pointer;
}

.padLeft20 {
	margin-left: 20px;
}

input.tbContact {
	width: 250px;
	font-size: 11px;
}

input.tbContactEmail {
	width: 250px;
	font-size: 11px;
}

input.inputTextSameWidth {
	width: 220px;
}

input.tbContactPhone {
	width: 170px;
	font-size: 11px;
}

/* BUTTONS */
.multibuttonWrapBottom {
	margin: 25px 0px 0px 15px;
}

.buttonWrapSave {
	float: left;
	height: 25px;
	width: 80px;
	padding-top: 3px;
}

.pOR {
	float: left;
	line-height: 25px;
	margin: 0px 20px 0px 20px;
}

a.button {
	display: block;
	float: left;
	height: 25px;
	margin: 0;
	/* margin-left: 6px; */
	padding-right: 18px;
	/* sliding doors padding */
	text-decoration: none;
}

a.button span {
	display: block;
	line-height: 15px;
	padding: 5px 0 5px 18px;
}

a.button:hover {
	text-decoration: none;
}

a.button:active {
	background-position: bottom right;
	outline: none;
	/* hide dotted outline in Firefox */
}

a.button:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px;
	/* push text down 1px */
	text-decoration: none;
}

a.greybttn {
	font-size: 11px;
	margin-left: 0;
	padding-right: 8px;
	/* sliding doors padding */
	background: transparent url('../images/button-grey_a.gif') no-repeat
		scroll top right;
	color: #646464;
}

.greybttn50 {
	width: 50px;
}

.paddingOverlayRight {
	padding-right: 15px;
}

.paddingOverlayVertical {
	padding-top: 15px;
	padding-bottom: 15px;
}


a.greybttn span {
	background: transparent url('../images/button-grey_span.gif') no-repeat;
	padding: 5px 0 5px 8px;
}

a.greybttn:active {
	color: #3b3b3b;
}

a.greybttn:active span {
	padding: 6px 0 4px 8px;
	/* push text down 1px */
}

a.bluebttn {
	font-size: 11px;
	margin-left: 0;
	padding-right: 8px;
	/* sliding doors padding */
	background: transparent url('../images/button-blue_a.gif') no-repeat
		scroll top right;
	color: #3b3b3b;
}

a.bluebttn span {
	background: transparent url('../images/button-blue_span.gif') no-repeat;
	padding: 5px 0 5px 8px;
}

a.bluebttn:active {
	color: #fff;
}

a.bluebttn:active span {
	padding: 6px 0 4px 8px;
	/* push text down 1px */
}

a.buttonsmall {
	font-weight: bold;
	display: block;
	float: left;
	height: 20px;
	margin: 0;
	/* margin-left: 6px; */
	padding-right: 18px;
	/* sliding doors padding */
	text-decoration: none;
}

a.buttonsmall span {
	display: block;
	line-height: 15px;
	padding: 3px 0 2px 18px;
}

a.buttonsmall:hover {
	text-decoration: none;
}

a.buttonsmall:active {
	background-position: bottom right;
	outline: none;
	/* hide dotted outline in Firefox */
}

a.buttonsmall:active span {
	background-position: bottom left;
	padding: 4px 0 1px 18px;
	/* push text down 1px */
	text-decoration: none;
}

a.greybttnsmall {
	font-size: 11px;
	margin-left: 0;
	padding-right: 8px;
	/* sliding doors padding */
	background: transparent url('../images/button-greysmall_a.gif')
		no-repeat scroll top right;
	color: #646464;
}

a.greybttnsmall span {
	background: transparent url('../images/button-greysmall_span.gif')
		no-repeat;
	padding: 3px 0 2px 8px;
}

a.greybttnsmall:active {
	color: #3b3b3b;
}

a.greybttnsmall:active span {
	padding: 4px 0 1px 8px;
	/* push text down 1px */
}

/* Overlays */
.rich-mpnl-header {
	background-image: url('../images/pop-full_top_400square.png');
	background-color: transparent;
	background-repeat: no-repeat;
	height: 31px;
}

.confirmation-button {
	margin: 25px 0px 0px 120px;
}

/* Data Table */
.dataTable {
	margin: 0 0 10px 15px;
	table-layout: fixed;
}

.dataTable td {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #464646;
	vertical-align: top;
}

.dataTable th,.dataTable th p {
	text-align: left;
	font-weight: bold;
}

.dataTable p {
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	color: #464646;
	padding: 4px 3px 5px 3px;
}

.condensed, .condensed p {
	line-height: normal;
	padding: 0px;
}

.dataTable a {
	margin: 0 0 0 8px;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #215ca1;
}

.dataTable .type1a {
	width: 210px;
}

.dataTable .data1a {
	width: 172px;
}

.dataTable .type1b {
	width: 110px;
}

.dataTable .data1b {
	width: 208px;
}

.dataTable .type2a {
	width: 142px;
}

.dataTable .data2a {
	width: 240px;
}

.dataTable .type2b {
	width: 190px;
}

.dataTable .data2b {
	width: 128px;
}

.dataTable .data1a p,.dataTable .data1b p,.dataTable .data2a p,.dataTable .data2b p
     ,.dataTable .data1a a,.dataTable .data1b a,.dataTable .data2a a,.dataTable .data2b a
     ,.dataTable .data3a p,.dataTable .data3b p,.dataTable .data4a p,.dataTable .datarow p
	{
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
}

.dataTable .type3a,.dataTable {
	width: 48px;
}

.dataTable .data3a {
	width: 240px;
}

.dataTable .datarow p {
	text-align: right;
}

.dataTable .data3a p {
	padding-right: 70px;
}

.dataTable .type3b {
	width: 120px;
}

.dataTable .data3b {
	width: 128px;
}

.dataTable .data3b-full {
	width: 248px;
}

.dataTable .type4a {
	width: 100px;
}

.dataTable .data4a {
	width: 188px;
}

.dataTable .data1a p,.dataTable .data1b p,.dataTable .data2a p,.dataTable .data2b p,.dataTable .data1a a,.dataTable .data1b a,.dataTable .data2a a,.dataTable .data2b a
	{
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
}

/* WLP Tags */
#Main,#MainGCP,#MainIP {
	background-image: url('../images/content_mid.jpg');
	background-repeat: no-repeat;
	background-position: 0px -41px;
}

.wlp-bighorn-header,#Main,#MainGCP,#MainIP {
	width: 967px;
	padding: 0;
	float: left;
	border: 0px solid red;
}

.wlp-bighorn-theme-plain {
	margin: 0;
	padding: 0;
	/*font-size: 12px;
	line-height: 18px;
	color: #999;
	text-align: center;*/
	float: left;
	background-image: url('../images/content_mid-back.jpg');
	background-repeat: repeat-y;
	border: 0px solid blue;
	background-repeat: repeat-y;
}

.wlp-bighorn-titlebar {
	display: none
}

.wlp-bighorn-window {
	margin: 0;
}

.wlp-bighorn-window-content {
	background-color: transparent;
	overflow: none;
}

.rich-calendar-exterior div {
	color: black;
}

.rich-modalpanel li {
	color: black;
	font-size: 11px;
	padding-left: 10px
}

.error,.error-message,.error-message-spacelimited,.error *,.error-message *
	{
	color: red;
	font-size: 11px;
	/*padding-left: 20px;
	background-image: url('../images/check-user-16x16.png');
	background-repeat: no-repeat;*/
}

.error-message-spacelimited {
	display: block;
}

.ui-corner-tl {
	-moz-border-radius-topleft: 4px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-tr {
	-moz-border-radius-topright: 4px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-br {
	-moz-border-radius-bottomright: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-top {
	-moz-border-radius-topleft: 4px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-topright: 4px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-bottomright: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-right {
	-moz-border-radius-topright: 4px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-bottomright: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-left {
	-moz-border-radius-topleft: 4px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
	-moz-border-radius-bottomleft: 4px /*{cornerRadius}*/;
	-webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/;
}

.ui-corner-all {
	-moz-border-radius: 4px /*{cornerRadius}*/;
	-webkit-border-radius: 4px /*{cornerRadius}*/;
}

.normal-left-aligned {
	text-align: left;
	margin-left: 15px;
}

@media print {
	.printoff {
		display: none;
	}
	* {
		background: url('') no-repeat;
	}
	.printon {
		display: block;
	}
}
.instructions table td {
	color: #4d4d4f;
}
/* Disabled, readonly fields */
input[disabled], select[disabled], select[readonly], textarea[disabled], textarea[readonly]
{
 background-color: #f7f7f7;
 color:#4a4a4a;
}
input[readonly]
{
 background-color: #ffffff;
 color:#4a4a4a;
}
/* Overlay styles */
.overlay_text_color, .overlay_text_color tr td{
	color: #4d4d4f;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 15px;
	font-weight: normal;	
	font-size: 11px;
}

.marginLeft12{
	margin-left: 12px;
}
.marginLeft15{
	margin-left: 15px;
}
.marginRight12{
	margin-right: 12px;
}
.marginRight24{
	margin-right: 24px;
}
.overlayHeader {
	color:#fff;
	padding:8px 0 0 14px;
	font-weight:bold;
	font-size:14px;
}
.overlayText {
	font-size:12px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 15px;
}
.rich-mpnl-header div {
	color:#fff;
}
.marginLeftZero {
	margin-left:0px;
}
.gridTable .rich-table-row td.paddingZero,  .gridTable .rich-table-header th.paddingZero {
	padding: 0px;
}
.gridTable .rich-table-row td.paddingLeftThree, .paddingLeftThree {
	padding-left: 3px;
}
.gridTable .rich-table-row td.paddingLeftFive, .paddingLeftFive {
	padding-left: 5px;
}
/* Overidding Calendar Styles*/
/* Only the current month dates will be visible and the boundary dates text color are set to their background color*/
.rich-calendar-popup td.rich-calendar-holly.rich-calendar-boundary-dates{	
	color: #ffebda;
}
.rich-calendar-popup td.rich-calendar-boundary-dates{
	color: #fff;
}
/* Overriding the style of suggestion list*/
.rich-sb-common-container tr td {
	color: #4d4d4f; 
	
}

/* Overriding the list shuttle button style*/
.rich-list-shuttle-button-content {
	color: #4d4d4f; 
}

.clone-fieldName {
	float: left;
	width: 500px;
	color: #4d4d4f;
	font-size: 12px;
	line-height: 16px;
	min-height: 20px;
}
.clone-overlay-ibx{
	color:#4d4d4f;
	margin-right:10px;
	font-weight:normal;
	white-space: nowrap;
}
.clone-overlay-cage{
	color:#4d4d4f;
	margin-right:12px;
	padding-left:10px;
	font-weight:normal;
	white-space: nowrap;
	text-align: center;
}
.clone-overlay-duration{
	color:#4d4d4f;
	margin-right:10px;
	font-weight:normal;
	white-space: nowrap;
}
.clone-overlay-font-bold{
  font-weight: bold;
  white-space: nowrap;
}
.clone-overlay-scrollbox {
 width: 710px;
 height: 300px;
 margin: 0 0 14px 0;
 overflow: auto;
}
.rich-shuttle-source-caption {
	color:#4d4d4f;
	margin-left:-5px;
}
.rich-shuttle-target-caption {
	color:#4d4d4f;
}
.columnLeftMargin{
	margin-left:-15px;
}
.textStyle{
	font-size: 11px;
}
.confirmPanelOKBtn{
	margin-bottom: 5px;
	text-align: center;
}
.successfulOrderPanelOKBtn{
	margin-top: 6px; 
	margin-bottom: 5px;
	text-align: center;
}
.regBtn {
	width: 60px;
}
.clone-scrollbox {
	 width: 600px;
	 height: 200px;
	 margin: 0 0 14px 0;
	 overflow: auto;
}
.success-users-scrollbox{
     width: 600px;
	 height: 100px;
	 margin: 0 0 14px 0;
	 overflow: auto;
}
.failed-users-scrollbox{
     width: 600px;
	 height: 100px;
	 margin: 0 0 14px 0;
	 overflow: auto;
}
.rowTopBottomMargin {
	margin: 5px 0px 10px 0px;
}
.pagination-user-count{
  margin-top: 15px;
  color:#464646
}
.overlayBtn {
	width: 70px;
}
.overlayLargeBtn {
	width: 130px;
}
.alignCenterBlack {
	text-align: center;
	color: #4d4d4f;
}
.alignLeftBlack {
	text-align: left;
	color: #4d4d4f;
}
.alignRightBlack {
	text-align: right;
	color: #4d4d4f;
}
.overlayClose {
	cursor: pointer;
	color: #4d4d4f;
	font-size: 10px;
	font-weight: bold;
}
.overflowXHidden {
 	overflow-x: hidden;
 }
.listStyleTypeNone{
	list-style-type: none;
}
.text-bold{
  font-weight:bold;
}
.clone-tool-tip{
	font-size:11px;
	color:#215CA1;
	cursor:pointer
}	
.clone-source-search-dtascroller{
  margin-left:450px;
}

.processing-modal-table-center{
  align:center;	
}

.processingmarginIE7{
  *margin-left:35px;/*Fix for GCP-5367, IE7 */
}

TABLE.processing-modal-table-center td{
  text-align: center;
  font-size: 11px;	
  color:#000;
}
.marginTopMinus10{
	margin-top: -10px;
}
.leftcol #lastModifiedInfo, .leftcol #lastModifiedInfo td{
	margin : -15px 0px 0px 0px;
	padding :0px;
}
DIV.formRow span.text_color{
  color:#464646
}

/* Some Copy permissions styles*/
.clone-from-search-overlay-width{
	width:450px;
}

TABLE.rich-table TR.rich-table-header P.clone-from-search-header{
  margin-left: 5px;
}

TABLE.rich-table TR.rich-table-row TD.rich-table-cell P.clone_text_style{
	font-size:11px;
	margin-left: 5px;
}
TABLE.rich-table TR.rich-table-header TH.rich-table-headercell P A.clone-from-search-header_bold{
  font-weight: bold;
}
.clone-from-name-column{
	width:160px;
}
.clone-from-user-id-column{
	width:160px;
}
.clone-from-date-time-column{
	width:120px;
}
.clone-to-search-button{
  margin-left:15px;
  vertical-align:middle;
}

.clone-from-search-button{
  margin-left:15px;
  vertical-align:top;
  margin-top:1px;
}

.gridTable a.textStyle{
  font-size:11px;
}

table.challengeMargin {
	margin: 10px;
	color:#000000;
}
.overlay_text_align{
  text-align: center;
}
.marginLeft16 {
	margin-left:16px;
}

.name-column_middle {
	width: 140px;
	text-align: center;
}

.withPad{
	padding: 10px;
}

.fontSize10{
	font-size:10px
}
.smrtorder{
	width: 602px; 
	height: 28px
}

.smrtorderSingleCol{
	width: 889px; 
	height: 28px
}
.smrthandbuttonBottom {
	margin: 0px 0px 0px 15px;
}

.panelClearBoth {
	clear:both;
}

.panelDisplayBlock {
	display: block;
}

.panelDisplayBlockInline {
	display: inline-block;
}

.headerNoYellow {
	margin: 24px 0 0px 15px;
	color: #4d4d4f;
	font-size: 12px;
	font-weight: bold;
	background-position: 0 17px;
	clear: both;
}

.headerInstruction {
	font-style: italic;
	font-weight: normal;
}

.headerHandScan {
	color: #4d4d4f;
	font-size: 12px;
	font-weight: bold;
	background-position: 0 17px;
	clear: both;
}

.smrthandlinks
{
margin-top:5px;
font-size: 11px;
text-decoration: underline;
}

.formRowSingleCol{
	width: 890px;
}

.formRowSingleColTab{
	width: 895px;
}
.fieldRowSingleCol{
	width: 135px;
}

.inputTextSingleCol{
	width: 263px;
}

.smrtorderbuttons{
	width: 604px; 
	height: 40px
}

.smrtorderbuttonsSingleCol{
	width: 890px; 
	height: 40px
}

.highlight-info-flag {
	background:url("../images/warning-icon.png") no-repeat scroll 0px center transparent;
	border: 0px none;
	color: #9F6000;
	font-size: 11px;
	margin: 0px;
	padding: 16px 0px 14px 23px;
}

.empty-list-panel {
	width: 897px;
	height: 30px; 
	font-size: 12px; 
	font-style: italic;
	margin-left: 0px;
	margin-bottom: 200px;
	background-color: #FFDC9E;
	border: 2px solid #F1BB95;
}

.pending-registrations-status {
	width:875px;
	height: 30px;
	color: #4D4D4F;
	font-size: 12px; 
	font-weight: bold;
	border: 0px;  
	margin-left: 3px;
}

.deny-request-image {
	border: 0px none;
	margin: 0px;
	padding: 0px 0px 0px 1px;
	vertical-align: middle;
}

.deny-request-text {
	border: 0px none;
	margin: 0px;
	font-size:11px;
	font-weight:normal;
	padding: 0px 0px 0px 2px;
}

/* hand scan select */
.handscan-select {
	font-family: Helvetica,Arial,sans-serif; 
	font-size:12px;
	margin-left: 4px; 
	color:#464646; 
}

.margLef17{
	margin-left: 17px;
	font-size: 11px;
	color: #464646;
}

.orderBtnLabel{
	color: #4d4d4f; 
	font-size: 12px; 
	font-weight: bold;
}

.dateFieldLabel, .dateFieldLabelStart, .tourDateStartLabel {
	float: left;
	width: 64px;
	color: #4d4d4f;
	font-size: 11px;
	margin-top:5px;
}

.dateFieldLabelStart {
	width: 70px;
}

.tourDateStartLabel{
	width: 90px;
}

.addVisitorLink {
	font-size:11px;
}

.bulkuploadpanelbuttons{
	width: 660px; 
	height: 50px
}

.bulktextstyle{
	font-weight:bold;
	color:#4D4D4F;
}	

.bulkuploadgreenborder{
	background-color:#CCFF99;
	border: 1px solid #AAD682;
}
.bulkuploadgreyborder{
	background-color: #F3F3F3;
	border: 1px solid #999999;
}
.bulkuploadbuttonwrapbottom{
  margin:10px 0 10px 365px;	
}	
/* Reset Password Confimration page styles */
.greyBorderBackground {
	background-color: #D9D9D9;
	border: 1px solid #ADADAD;
}
.greyBorderPadding {
	padding-left:9px;
}
.greyHeaderFont {
	font-size:15px;
	color:#696969;
	font-weight:600;
}
.boldHeaderFont {
	font-size:15px;
	color:black;
	font-weight:bold;
}
.greySmallHeaderFont {
	font-size:13px;
	color:#696969;
}
.hyperlinkText {
	font-size:13px;
	color:#333333;
	vertical-align:middle;
}
.hyperlinkImageStyle {
	color:#D9D9D9;
	vertical-align:middle;
}
.hyperlinkImageBorder {
	vertical-align:middle;
	color:#D9D9D9;
	border-color:#D9D9D9;
}
.rowOdd {  
    background-color: #D1E8FF;  
 	color: #4d4d4f;
 }  
.rowEven {  
    background-color: #ffffff;  
	color: #4d4d4f;
}

.filterSavedOrder {
	float: left; 
	width:200px; 
	margin-left: 15px;
}
.filterSavedOrder table td, .filterSavedOrder table td h5  {
	color: #464646;
	font-size: 11px;
}

.filterSavedOrder table td h5 {
	font-weight: bold;
	text-align: left;
}

/* End of Reset password confirmation styles */

#portfullmid div.modify-user-width{
 width:900px;
}
.greenborder{
	background-color: #CCFF99;
	border: 1px solid #AAD682;
}
.blueborder {
	background-color: #DBF6FF;
	border: 1px solid #B4D1FF;
}

.confIbxWidth{
  width:256px;
}

.confIbxWidth select.wideSelect{
   width:200px;
   font-size:11px;
}
.confIbxErrStyle{
	margin:0 0 0 30px;
}

.confDateErrStyle{
	margin:0 0 0 138px;
}

.addImage {
	padding-right: 2px;
	margin: 0px 0px 5px 0px;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	border: 0px;
}

.bulkUploadAddPanel{
	margin:10px 0 0 15px;
}

.maxUploadBlurb{
	margin-left:30px;
	font-weight:bold;
	color:#4d4d4f;
}

.paddingOverlayRight DIV.maxUploadOverlayTxt{
	margin:-16px 0px 0px 25px;
	color:#454545;
	font-weight:bold
}

.fieldText{
	font-size: 11px;
	color: #464646;
}

.displayHidden {
	display:none;
}

/* Bulk Upload and Create users*/
.fieldControl select.blkUpldTimezoneWidth{
  width:306px;
}

.fieldControl select.createUserTimezoneWidth{
  width:310px;
}

.fieldControl select.createUserLangWidth{
  width:206px;
}

.blkUplSeparatorWidth{
  width:660px;	
}

/* End- Bulk Upload and Create users*/


/* override inline style if any */
.displayHiddenStrict {
   display: none !important;
}

.tbWideEmailAuditReport {
	font-size: 11px;
	width: 300px;
}

a.helpText {
  font-size: 11px;
  white-space: nowrap;
}

/* CSS for Chrome amd Safari Browsers */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.dr-dscr{float:right}	
	.gridTableChrome .rich-table-row td {line-height:17px;}
	.wlp-bighorn-footer{
	    float:left;
	    border-top-style: none;
	}
	 .processingmarginIE7{
	          margin-left:130px;
	          margin-top:10px;
	    }
}


/* CSS for Chrome amd Safari Browsers */

.instructionText {
	text-align: left;
	clear: both;
	overflow: hidden;
	margin: 15px 0 4px 0px;
	width: 600px;
}

.instructionTextSingleCol {
	text-align: left;
	clear: both;
	overflow: hidden;
	margin: 15px 0 4px 0px;
	width: 889px;
}

.enrollmentBorder {
	border-top: 1px solid #cdcdcd;
}

div.enrollmentBorder .marginLeft{
 margin-left:30px;
}	

.paddingEnroll {
	padding: 10px;
}

.paddingTopBottom5, .enrollmentBorder {
	padding-bottom: 5px;
	padding-top: 5px;
}

/*approve registration */

a.denyreqhover:hover{
  text-decoration: none;
}
a.denyreqhover:hover span{
  text-decoration: underline;
}

/*approve registration */

/*Update Challenge questions*/

.challengeLabels {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 15px;
	font-weight: normal;
	color: #4d4d4f;
	font-size: 13px;
	margin-left: 10px;
}

/*Update Challenge questions*/

/*Use this style class for error messages to add space instead of adding rich spacer.*/
.error-message-indent{
  margin-left:10px;
}

.button150 {
	font-size: 11px;
	width: 150px;
	margin-right: 2px;
}
.button140 {
	font-size: 11px;
	width: 140px;
	margin-right: 2px;
}

/* bulk user onboard user filter radio button spacing */
.ufRadioButtons td { 
	white-space: nowrap;
	padding-left: 5px; 
}

td.placeOrderColumn {
	vertical-align: top;
}

th.placeOrderHeader {
	border: none;
	padding-bottom: 12px;
	text-align: left;
}

.overlayTextarea {
	width: 365px;
	font-size: 11px;
}

.textAsLink {
	text-decoration: underline;
	cursor: pointer;
} 

.storageEventTable td p, .storageEventTable td a {
	font-size: 12px;
	line-height: 12px;
}

.storageDetailScrollbox {
	width: 415px;
	max-height: 490px;
	margin: 0;
	overflow-y: auto;
}

.storageDetailTable {
	width: 378px;
	table-layout: fixed;
}

.storageDetailLabelCol {
	width: 35%;
	color: #4d4d4f;
	padding: 2px;
	vertical-align: top;
}

.storageDetailFieldCol {
	width: 65%;
	color: #4d4d4f;
	vertical-align: top;
	padding: 2px;
	word-wrap: break-word;
}

.crossconnect-selection-td {
	height: 45px;
	vertical-align: middle;
}

.upload-image{
	vertical-align: middle;
}

.rich-table-caption.alignLeft{
text-align: left;
}

.preference-row-new-section {
	border-left: 1px solid #C4C0B9;
}

.preference-column-narrow {
	width: 100px;
	text-align: center;
}

.preference-column-wide {
	width: 140px;
	text-align: center;
}

.grayBackgroud{	
	 background-color:#EDECEC;
     color: graytext;
	
}
